.footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: relative;
}

@media (max-width: 480px) {
  .footer {
    padding: 15px;
    font-size: 0.8rem;
  }
}
