/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

header,
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1,
footer p {
  margin: 0;
}

/* Light and Dark Mode */
.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: #121212;
  color: white;
}

.toggle-button {
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
}
